# https://docs.waydro.id/usage/install-on-desktops

sudo apt install curl ca-certificates weston wlogout gdm3 vlc gnome-terminal chromium -y

sudo curl https://repo.waydro.id | bash

sudo apt update

sudo apt install waydroid -y